1 VERSIONINFO
FILEVERSION 1,9,0,52
PRODUCTVERSION 1,9,0,52
FILEFLAGSMASK 0x3FL
FILEFLAGS 0x00L
FILEOS 0x40004L
FILETYPE 0x2L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
         BLOCK "040904E4"
         BEGIN
              VALUE "CompanyName", "IniTranslator\0"
              VALUE "FileDescription", "ResX Plugin for IniTranslator\0"
              VALUE "FileVersion", "1.9.0.52\0"
              VALUE "InternalName", "ResXParser.dll\0"
              VALUE "LegalCopyright", "Copyright (c) 2003-2007 by Peter Thornqvist; all rights reserved\0"
              VALUE "OriginalFilename", "ResXParser.dll\0"
              VALUE "ProductName", "ResX Plugin for IniTranslator\0"
              VALUE "ProductVersion", "1.9.0.52\0"
              VALUE "Comments", "Latest version at http://initranslator.sourceforge.net\0"
              VALUE "CompileDate", "den 23 oktober 2007 18:57\0"
         END
    END
    BLOCK "VarFileInfo"
    BEGIN
         VALUE "Translation", 0x0409, 1252
    END
END
